/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  display: grid;
  justify-content: center;
  margin-block-start: 100px;
  color: var(--main-font-color);
  font-family: var(--first-family), sans-serif;
  font-size: 18px;
  background-color: #fff;
  background-image: var(--bg-gradient);
  background-size: cover;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-variation-settings: "wght" var(--basic-font-weight);
  background-attachment: fixed;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border: 2px solid var(--accent-color);
  background-color: #fff;
  block-size: var(--height-logo);
}

.block-size {
  inline-size: var(--width-block);
}

.header__title {
  font-family: var(--second-family), sans-serif;
  font-weight: 400;
  font-size: var(--title-font-size);
  text-align: center;
  text-transform: uppercase;
}

.header__title-text {
  font-family: var(--second-family), sans-serif;
  font-weight: 400;
  font-size: var(--title-text-font-size);
  text-align: center;
  text-transform: uppercase;
}

.main-content {
  display: grid;
  gap: 50px;
  margin-block-start: 98px;
  margin-block-end: 50px;
}

.card-content {
  border: 2px solid var(--accent-color);
  background-color: #fff;
}

.card-content-title {
  display: flex;
  align-items: center;
  padding: 5px 10px;
  font-size: 18px;
  font-variation-settings: "wght" var(--title-font-weight);
}

.card-content-img {
  position: relative;
  border-bottom: 2px solid var(--accent-color);
  border-top: 2px solid var(--accent-color);
}

.content-label {
  position: absolute;
  z-index: 1;
  display: flex;
  justify-self: end;
  opacity: 0.5;
  font-family: var(--second-family), sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  text-shadow: 0 0 1px var(--text-stroke-color);
  inset-inline-end: 25px;
  inset-block-start: 25px;
  mix-blend-mode: hard-light;
}

@supports (-webkit-text-stroke: 1px var(--text-stroke-color)) or (text-stroke: 1px var(--text-stroke-color)) {
  .content-label {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--text-stroke-color);
    text-stroke: 1px var(--text-stroke-color);
  }
}

.content-img {
  display: block;
  inline-size: 100%;
  block-size: auto;
}

.img-filter-multiple {
  filter: contrast(15) brightness(150%) brightness(300%);
}

.img-filter-brightness {
  filter: brightness(500%);
}

.img-filter-contrast {
  filter: contrast(30%);
}

.img-filter-blur {
  filter: blur(0.3rem);
}

.img-filter-opacity {
  filter: opacity(0.8);
}

.img-filter-grayscale {
  filter: grayscale(0.5);
}

.img-filter-saturate {
  filter: saturate(200%);
}

.img-filter-sepia {
  filter: sepia(30%);
}

.content-text-paragraph {
  display: block;
}

.content-text {
  display: grid;
  gap: 25px;
  padding-inline: 25px;
  padding-block: 25px;
  line-height: 117%;
}

.button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 38px;
  border: 2px solid var(--accent-color);
  box-shadow: none;
  font-family: var(--second-family), sans-serif;
  font-weight: 400;
  font-size: 14px;
  background-color: transparent;
  transition: box-shadow 0.3s ease;
  cursor: url('../images/cursor.png'), auto;
}

.button__text {
  position: relative;
  z-index: 2;
  justify-self: center;
  align-self: center;
  color: var(--mix-blend-mode-color);
  mix-blend-mode: difference;
}

.button svg {
  position: relative;
  z-index: 1;
  color: var(--mix-blend-mode-color);
  mix-blend-mode: difference;
}

.button:focus {
  box-shadow: 2px 2px 0 var(--accent-color);
  outline: none;
  transition: box-shadow 0.3s ease;
}

.button:after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--accent-color);
  transition: transform 0.5s ease-in-out;
  transform: scaleX(0);
  transform-origin: left;
}

.button:hover:after {
  transform: scaleX(1);
}

.card__icon-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  outline: 2px solid transparent;
  background-color: transparent;
  transition: outline 0.3s ease;
  cursor: url('../images/cursor.png'), auto;
}

.card__icon-button:focus {
  outline: 2px solid transparent;
}

.card__icon-button:focus-visible {
  outline: 2px solid var(--accent-color);
}

.like-icon {
  width: 39px;
  height: 36px;
}

.card__like-button {
  min-width: 130px;
  text-align: center;
}

.card-buttons {
  display: grid;
  grid-template-columns: min-content 1fr;
  justify-self: end;
  gap: 8px;
  padding-inline: 25px;
  padding-block-end: 25px;
}

.button-save {
  justify-self: center;
  gap: 8px;
  padding: 15px 20px;
  background-color: #fff;
  inline-size: auto;

}

.icon-save {
  justify-self: center;
  align-self: center;
  width: 21px;
}

.dialog-save {
  display: none;
  gap: 30px;
  max-width: 353px;
  padding-inline: 30px;
  padding-block: 30px;
}

.dialog-save[open] {
  display: grid;
}

.dialog-save-diskette-title {
  display: grid;
  grid-template-columns: min-content 1fr;
  gap: 20px;
}

.dialog-save-icon {
  justify-self: center;
  align-self: center;
  width: 39px;
  height: 39px;
}

.dialog-save-title {
  font-family: var(--second-family), sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  text-transform: uppercase;
}

dialog::backdrop {
  opacity: 0.75;
  background-color: var(--accent-color);
}

.button-dialog-save {
  padding: 9px 17px;
  line-height: 90%;
  text-transform: uppercase;
  inline-size: 100%;
}

.footer {
  margin-block-end: 100px;
}

svg .contour {
  transition: fill 0.1s linear;
}

svg .core {
  transition: fill 0.3s linear 0.03s;
}

svg .main-body {
  transition: fill 0.3s linear;
}

.like-icon:hover .core {
  fill: var(--color-contour);
  transition-delay: 0s;
}

.like-icon:hover .main-body {
  fill: var(--color-contour);
  transition-delay: 0.05s;
}

.like-icon:active .core {
  fill: var(--animation-fill-color);
  transition-delay: 0s;
}

.like-icon:active .main-body {
  fill: var(--animation-fill-color);
  transition-delay: 0.05s;
}

.like-icon.is-liked .core {
  fill: var(--animation-fill-color);
}

.like-icon.is-liked .main-body {
  fill: var(--animation-fill-color);
}

.like-icon.is-liked .contour {
  fill: var(--animation-fill-color);
  transition-duration: 0.06s;
  transition-delay: 0.05s;
}

.like-icon.is-liked .heart {
  animation: heart 0.3s ease-in 0.1s;
  transform-origin: center;
}

@media (width <=375px) {
  .main-content {
    margin-block-start: 100px;
  }

  .card-content-title {
    padding: 4px 10px;
  }

  .dialog-save {
    max-width: 341px;
    padding-inline: 40px;
  }

  .button-save {
    flex-direction: column;
    justify-items: center;
  }

  .icon-save {
    width: 28px;
  }
}